.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}
.tabcontent3 {
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
padding: 30px;
}
.esri_btn_custom{
	background: white!important;
	border:white!important;
	color:black!important;
	font-weight: bold;
	padding: 8px 16px;
	font-size: 14px;
	opacity: 0.9;
	border-radius: 3px;
}
.esri_btn_custom:hover{
	background: #f3f3f3!important;
}